@import "frappe.css";

* {
  padding: 0;
  margin: 0;
  font-family: "Cascadia Mono NF";
  font-weight: bold;
  font-size: 13px;
}

/* ------ Set a Uniform Border Radius ------ */
.modules-left,
.modules-center,
.modules-right,
#cpu,
#memory,
#temperature,
#clock,
#wireplumber,
#backlight,
#custom-icon,
#custom-updates,
#language,
#network,
#battery,
#tray,
#idle_inhibitor,
#custom-power,
#custom-updates {
  border-radius: 10px;
}

/* ------ Modules Left ------ */
.modules-left {
  background-color: @base;
  opacity: 0.85;
  padding-right: 10px;
  padding-left: 4px;
}

/* ------ Modules Center ------ */
.modules-center {
  background-color: @base;
  opacity: 0.85;
  padding-right: 4px;
  padding-left: 4px;
}

/* ------ Modules Right ------ */
.modules-right {
  background-color: @base;
  opacity: 0.85;
  padding-right: 4px;
  padding-left: 4px;
}

/* ------ Window Title ------ */
#window {
  color: @text;
  padding-right: 4px;
  margin-left: 4px;
}

window#waybar {
  border-bottom: 0px solid #ffffff;
  background: transparent;
  border-radius: 18px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces button.empty {
  color: @surface2;
  font-family: Cascadia Mono NF;
}

#workspaces {
  margin: 0px 1px 0px 1px;
  padding: 0px 1px;
  font-family: Cascadia Mono NF;
}

#workspaces button {
  padding: 0px 3px;
  margin: 4px 2px;
  color: @text;
  font-family:  Cascadia Mono NF;
}

#workspaces button:hover {
  opacity: 0.7;
  color: @mauve;
}


/* ------ CPU ------ */
#cpu {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

/* ------ Temperature ------ */
#temperature {
  color: @flamingo;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

/* ------ Backlight ------ */
#backlight {
  color: @sky;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

/* ------ Wireplumber ------ */
#wireplumber {
  color: @peach;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

/* ------ Language ------ */
#language {
  color: @flamingo;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

/* ------ Network ------ */
#network {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

/* ------ Battery ------ */
#battery {
  color: @maroon;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

/* ------ Clock ------ */
#clock {
  padding-left: 10px;
  background-color: @surface1;
  color: @teal;
  font-weight: bold;
  font-size: 13px;
  padding: 2px 8px;
  margin: 6px 2px;
}

/* ------ System Tray ------ */
#tray {
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

/* ------ Custom Modules ------ */
#custom-icon {
  font-size: 21px;
  background-color: @surface1;
  color: @blue;
  padding: 0px 9px;
  margin: 6px 2px;
}

#custom-power {
  color: @red;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 6px 2px;
  font-size: 15px;
}

#idle_inhibitor {
  color: @green;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 6px 2px;
  font-size: 15px;
}

tooltip {
  background: @base;
  border: 1px solid @blue;
}

#custom-updates {
  padding: 2px 7px;
  margin: 6px 2px;
  background-color: @surface1;
}
#custom-updates.green {
  color: @text;
}
#custom-updates.yellow {
  color: @peach;
}
#custom-updates.red {
  color: @red;
}
