@import "frappe.css";

* {
  padding: 0;
  margin: 0;
  font-family: "Cascadia Mono NF";
  font-weight: bold;
  font-size: 13px;
}

.modules-left,
.modules-center,
.modules-right,
#cpu,
#memory,
#temperature,
#clock,
#wireplumber,
#backlight,
#custom-icon,
#custom-updates,
#language,
#network,
#battery,
#tray,
#idle_inhibitor,
#custom-power {
  border-radius: 10px;
}

.modules-left {
  background-color: @base;
  opacity: 0.85;
  padding: 0px 4px;
}

.modules-center {
  background-color: @base;
  opacity: 0.85;
  padding: 0px 4px;
}

.modules-right {
  background-color: @base;
  opacity: 0.85;
  padding: 0px 4px;
}

#window {
  color: @text;
  padding-right: 4px;
  margin-left: 4px;
}

window#waybar {
  border-bottom: 0px solid #ffffff;
  background: transparent;
  border-radius: 18px;
  transition-property: background-color;
  transition-duration: 0.5s;
}


/* ----- Workspaces ----- */
#workspaces button.empty {
  color: @surface2;
  font-family: Cascadia Mono NF;
}

#workspaces {
  margin: 0px 1px 0px 1px;
  padding: 0px 1px;
}

#workspaces button {
  padding: 0px 3px;
  margin: 4px 2px;
  color: @text;
}

#workspaces button:hover {
  opacity: 0.7;
  color: @base;
}


/* ----- Left modules ----- */

#custom-icon {
  background-color: @surface1;
  color: @blue;
  padding: 2px 8px;
  padding-right: 10px;
  margin: 6px 2px;
}

#temperature {
  color: @flamingo;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

#cpu {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

#clock {
  padding-left: 10px;
  background-color: @surface1;
  color: @teal;
  font-weight: bold;
  font-size: 13px;
  padding: 2px 8px;
  margin: 6px 2px;
}


/* ----- Right modules ----- */
#backlight {
  color: @sky;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

#wireplumber {
  color: @peach;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

#network {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

#language {
  color: @flamingo;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

#battery {
  color: @maroon;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

#tray {
  background-color: @surface1;
  padding: 2px 8px;
  margin: 6px 2px;
}

#idle_inhibitor {
  color: @green;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 6px 2px;
  font-size: 15px;
}

#idle_inhibitor.activated {
  color: @green;
}

#idle_inhibitor.deactivated {
  color: @red;
}

#custom-power {
  color: @red;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 6px 2px;
  font-size: 15px;
}


/* ----- Other ----- */
tooltip {
  background: @base;
  border: 1px solid @blue;
}
